body {
    font-family: Arial;
    color: #454545;
    background-color: #fff9ea;
}

a {
    font-family: Arial;
    color: #454545;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#right {
    font-family: Arial;
    text-align: right;
    color: #454545;
}

h1 {
    font-family: Arial;
}

#center {
    text-align: center;
}

#button {
    font-weight: bold;
    width: 800px;
    margin: 40px auto 0 auto;
}

    #button a {
        -webkit-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
        transition: all 200ms ease-out;
        padding: 20px 40px;
        color: white;
        text-decoration: none;
        font-family: Arial;
        border-radius: 25px;
        background-color: #45c1cc;
    }

        #button a:hover {
            -webkit-transition: all 200ms ease-out;
            -ms-transition: all 200ms ease-out;
            transition: all 200ms ease-out;
            background-color: #348699;
            padding: 20px 40px;
        }

footer {
    text-align: center;
    background-color: #ffdaad;
    color: white;
    height: 60px;
    padding-top: 18px;
    font-size: 16px;
    position: absolute;
    left: 0;
    right: 0;
}
